<ion-header>
  <ion-toolbar>
    <ion-title >{{getName(poi)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'General.Close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="whitetext">
      <div style="margin: 10px;">
        <img *ngIf="poi.Image != null" [src]="getImg(poi)">
        <p [innerHTML] = "getDescription(poi)"></p>
      </div>
    </div>
  </div>
  
</ion-content>