<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar> 
          <img (click)="setLangue('fr')" slot="end" src='../assets/icon/France.png' style="width: 30px; height: 30px; margin-right: 5px;"> 
          <img (click)="setLangue('en')" slot="end" src='../assets/icon/UK.png' style="width: 30px; height: 30px; margin-right: 5px;">  
          <img (click)="setLangue('nl')" slot="end" src='../assets/icon/netherlands.png' style="width: 30px; height: 30px; margin-right: 5px;">  
      </ion-toolbar>
         </ion-header>
         <ion-content>
          <img class="img-furfooz" src='../assets/img/Furfooz.jpg'>
           <ion-list>
             <ion-menu-toggle>

               <!-- Home -->
              <ion-item [routerLink]="['home']">  
                <ion-icon name ="home-outline" slot="start"></ion-icon>
                <ion-label>{{'Menu.Home' | translate}}</ion-label>
              </ion-item>

              <!-- Map -->
              <ion-item [routerLink]="['map']">  
                <ion-icon name ="earth-outline" slot="start"></ion-icon>
                <ion-label>{{'Menu.Map' | translate}}</ion-label>
              </ion-item>

              <!-- Toutes les catégories -->
              <!-- <ion-item *ngFor="let item of CategoryName" (click)="listpoiModal(item.Id)">
                <ion-icon src="assets/svg/marker.svg" slot="start" color="success"></ion-icon>
                <ion-label>{{item}}</ion-label>
              </ion-item> -->
              <ion-item *ngFor="let item of CategoryPoiList" (click)="listpoiModal(item.Id)">
                <ion-icon src="assets/svg/marker.svg" slot="start" color="success"></ion-icon>
                <ion-label>{{getName(item)}}</ion-label>
              </ion-item>

              <!-- Flobette  -->
              <ion-item [routerLink]="['flobette']">
                <ion-icon slot="start" name="fast-food-outline" ></ion-icon>
                <ion-label>{{'Menu.Flobette' | translate}}</ion-label>
              </ion-item>

              <!-- Infos -->
              <ion-item [routerLink]="['infos']">
                <ion-icon slot="start" name="information-circle-outline" ></ion-icon>
                <ion-label>{{'Menu.Information' | translate}}</ion-label>
              </ion-item>

              <!-- Settings -->
              <ion-item (click)="settingsModal()">
                <ion-icon name ="settings" slot="start">
                </ion-icon> 
                <ion-label>{{'Menu.Settings' | translate}}</ion-label>
              </ion-item> 
              
          </ion-menu-toggle>
          </ion-list>
         </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>