.img-furfooz{
    display: flex;
    justify-content: center;
}

.active {
    color: rgb(148, 195, 60);
    font-weight: bold;
}

::ng-deep{
    .background {
        background: url('../assets/img/BackgroundEponge.jpeg');
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: scroll;
    }
    .whitetext {
        width: calc(100% - 40px);
        margin: 5px 20px 0 20px;
        padding: 10px;
        background-color: rgba(255,255,255,0.85);
        border-radius: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

